{% extends 'core/base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.category.label_tag }}
            {{ form.category.as_widget }}
        </div>
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name.as_widget }}
        </div>
        <div class="mb-3">
            {{ form.price.label_tag }}
            {{ form.price.as_widget }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description.as_widget }}
        </div>
        <div class="mb-3">
            {{ form.image.label_tag }}
            {{ form.image.as_widget }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}